{{ define "main" }}
	<article class="post">
		<header>
			{{ with .Title }}
			<h1>{{ . }}</h1>
			{{ end }}
			<h2 class="post-date">
				<a href="{{ .Permalink }}">
					<i class="bi bi-link-45deg"></i> <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
				</a>
			</h2>
		</header>
		<div class="post-reply-to">
			Replying to: <img class="avatar" src="{{ .Params.reply_to_avatar }}" alt="{{ .Params.reply_to_username }} avatar" />
			{{ if eq .Params.reply_to_hostname "micro.blog" }}
			<a href="{{ .Params.reply_to_url }}" class="post-reply-to-username">@{{ .Params.reply_to_username }}</a>
			{{ else }}
			<a href="{{ .Params.reply_to_url }}" class="post-reply-to-username">{{ .Params.reply_to_hostname }}</a>
			{{ end }}
		</div>
		<div class="post-body">
			{{ .Content }}
		</div>
		<footer>
			<address class="post-author">
				<img class="avatar" alt="{{ .Site.Author.username }} avatar" src="{{ .Site.Author.avatar }}" />
				<div>
					<span class="author-name">{{ .Site.Author.name }}</span>
					<span class="author-username"><a href="https://micro.blog/{{ .Site.Author.username }}" rel="author">@{{ .Site.Author.username }}</a></span>
				</div>
			</address>
		</footer>
	</article>
{{ end }}