{{ define "main" }}
<article class="post">
	<header>
		{{ with .Title }}
		<h1>{{ . }}</h1>
		{{ end }}
		<h2 class="post-date">
			<a href="{{ .Permalink }}">
				<time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
			</a>
			{{ with .Params.audio }}
			<script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
			{{ end }}
		</h2>
	</header>
	<div class="post-body">
		{{ .Content }}
	</div>
	<footer>
		<address class="post-author">
			{{ if .Params.author }}
			<a href="https://micro.blog/{{ .Params.author.username }}" rel="author"><img class="author-avatar" alt="{{ .Params.author.username }} avatar" src="{{ .Params.author.avatar }}" /></a>
			<div>
				<span class="author-name">{{ .Params.author.name }}</span>
				<span class="author-username"><a href="https://micro.blog/{{ .Params.author.username }}">@{{ .Params.author.username }}</a></span>
			</div>
			{{ else }}
			<a href="https://micro.blog/{{ .Site.Author.username }}" rel="author"><img class="author-avatar" alt="{{ .Site.Author.username }} avatar" src="{{ .Site.Author.avatar }}" /></a>
			<div>
				<span class="author-name">{{ .Site.Author.name }}</span>
				<span class="author-username"><a href="https://micro.blog/{{ .Site.Author.username }}" rel="author">@{{ .Site.Author.username }}</a></span>
			</div>
			{{ end }}
		</address>
	</footer>
	{{ if .Site.Params.include_conversation }}
	<hr />
	<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
	{{ end }}
</article>
{{ end }}