/* Fonts 
   Nunito; 300, 300 italic, 400, 400 italic, 700
   @import url('https://fonts.bunny.net/css?family=nunito:300,300i,400,400i,700');
 */
/* Variables */
:root {
	/* colors */
	--primary: rgb(59,157,255); /* 3b9dff */
	--primary-dark: rgb(1,62,125); /* 013e7d */
	--secondary: rgb(224,30,224); /* e01ee0 */
	--background: rgb(0,10,20); /* 000a14 */
	--background-light: rgb(0,43,87); /* 002b57 */
	/* stroke */
	--stroke: calc((100vw - 25px) / 100);
}
/* Tags */
html {
	font-size: 125%;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background: var(--background);
	color: white;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}
a {
	position: relative;
	color: var(--primary);
	font-weight: 400;
	text-decoration: none;
	transition: 0.25s;
}
a:hover {
	color: white;
	cursor: pointer;
}
a::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: var(--primary);
	opacity: 0;
	transform: translate(-50%);
	transition: 0.25s;
}
a:hover::after {
	width: 100%;
	opacity: 1;
}
strong {
	font-weight: 700;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	display: block;
	line-height: 1;
	text-align: center;
}
h1, h2, h3 {
	font-weight: 400;
	text-transform: lowercase;
}
h1 {
	margin: 5rem 0;
	font-size: 4rem;
}
h2 {
	margin: 2.5rem 0;
	font-size: 3rem;
}
h3 {
	margin: 2rem 0 1.5rem;
	border-bottom: 2px solid var(--primary);
	padding-bottom: 0.4rem;
	font-size: 2rem;
}
h4, h5, h6 {
	margin: 1.5rem 0;
	font-weight: 700;
	text-transform: uppercase;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.75rem;
}
h6 {
	font-size: 0.65rem;
}
p {
	margin: 0 0 2rem;
	line-height: 1.5;
}
ul, 
ol {
	margin: 2rem 0;
	padding-left: 1rem;
}
li {
	clear: both;
	margin: 0.5rem 0;
}
li ul, 
li ol {
	margin: 0;
}
ol li:last-child, 
ul li:last-child {
	margin-bottom: 0;
}
s {
	opacity: 0.67;
}
hr {
	clear: both;
	position: relative;
	max-width: 600px;
	height: var(--stroke);
	margin: 5rem auto;
	border: 0;
	background-color: var(--primary);
	overflow: visible;
}
hr::after {
	content: '';
	display: block;
	position: absolute;
	top: calc(var(--stroke) * 2);
	right: 0;
	width: 37.1667%;
	height: var(--stroke);
	background-color: var(--primary);
}
table {
	width: 100%;
	margin: 1rem 0;
}
thead th, 
tbody th, 
tbody td, 
tfoot td {
	margin: 1px;
	padding: 0.75rem;
	font-size: 0.75rem;
}
thead th {
	border-bottom: 2px solid var(--primary);
}
tbody th {
	text-align: left;
}
tbody td, 
tfoot td {
	background-color: var(--background-light);
}
/* Common */
.header,
.main,
.footer, 
.container {
	display: block;
	max-width: 600px;
	margin: auto;
	padding: 0 12.5px;
}
a.button, 
button.button {
	margin-bottom: 0.5em;
	border: none;
	border-radius: 1em;
	padding: 0.25em 0.75em;
	background-color: var(--primary-dark);
	color: white;
	font-size: 0.75em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5em;
}
a.button:hover,
button.button:hover {
	background-color: var(--primary);
	color: white;
	text-decoration: none;
	cursor: pointer;
}
a.button::after, 
button.button::after {
	display: none;
}
svg.scotymax {
	width: 100%;
	height: auto;
}
svg.scotymax path {
	fill: white;
}
.avatar {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.note {
	border-radius: 1rem;
	padding: 0.75rem;
	background-color: var(--background-light);
	color: var(--primary);
	font-size: 0.75rem;
	text-align: center;
}
.framed {
	box-sizing: border-box;
	border: 2px solid var(--primary);
	border-radius: 1rem;
	padding: 4px;
}
.framed button, 
.framed iframe, 
.framed img {
	display: block;
	width: 100%;
	margin: 0;
	border-radius: calc(1rem - 6px);
	padding: 0;
}
/* Partial: Header */
.header {
	margin: 2.5rem auto;
}
.header-logo {
	position: relative;
	display: block;
}
.header-logo-border {
	position: relative;
	display: block;
	width: 100%;
	height: var(--stroke);
	top: var(--stroke);
	background-color: var(--primary);
}
.header-logo::after {
	content: '';
	position: absolute;
	left: auto;
	right: 0;
	bottom: var(--stroke);
	width: 0;
	height: var(--stroke);
	background-color: var(--primary);
	transform: translate(0);
	transition: 0.25s;
	opacity: 0;
}
.header-logo:hover::after {
	width: 37.1667%;
	opacity: 1;
}
/* Partial: Navigation */
nav.nav-main {}
nav.nav-main ul {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: var(--background-light);
	margin: 0;
	padding: 0;
	font-size: 2rem;
	list-style: none;
	text-transform: lowercase;
	transition: all 0.2s ease-in-out 0s;
	transform: translateX(-100%);
	z-index: 1;
}
nav.nav-main ul li {
	margin: 0;
	padding: 0;
}
nav.nav-main ul li.nav-note {
	position: relative;
	left: 4px;
	margin-bottom: 12px;
	font-size: 0.6rem;
	letter-spacing: 4px;
	text-transform: uppercase;
}
nav.nav-main ul li.nav-divider {
	width: 40px;
	height: 2px;
	margin: 18px auto 12px;
	background-color: white;
}
nav.nav-main button {
	position: fixed;
	bottom: 60px;
	left: 20px;
	width: 44px;
	height: 44px;
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0;
	background-color: transparent;
	z-index: 3;
}
nav.nav-main button:hover {
	cursor: pointer;
}
nav.nav-main button i {
	position: relative;
	left: 2px;
	display: block;
	width: 40px;
	height: 4px;
	background-color: var(--primary);
	transition: background-color .2s .2s ease-in-out;
}
nav.nav-main button::before,
nav.nav-main button::after {
	content: '';
	position: absolute;
	height: 4px;
	background-color: var(--primary);
	transform-origin: 50% 50%;
	transition: 
		background-color .1s .1s ease-in-out, 
		top .1s .3s ease-in-out, 
		left .1s .1s ease-in-out, 
		right .1s .1s ease-in-out, 
		width .1s .1s ease-in-out, 
		transform .1s ease-in-out;
}
nav.nav-main button::before {
	top: 10px;
	left: 2px;
	width: 40px;
}
nav.nav-main button::after {
	top: 30px;
	left: 22px;
	width: 20px;
}
nav.nav-main .nav-background {
	position: fixed;
	bottom: 50px;
	left: 0;
	width: 84px;
	height: 64px;
	border-radius: 0 1rem 1rem 0;
	background-color: var(--primary-dark);
	z-index: 2;
}
nav.nav-main.open ul {
	transform: translateX(0);
}
nav.nav-main.open button::before,
nav.nav-main.open button::after {
	top: 20px;
	left: 2px;
	width: 40px;
	transition: 
		top .1s ease-in-out, 
		left .1s .1s ease-in-out, 
		right .1s .1s ease-in-out, 
		width .1s .1s ease-in-out, 
		transform .1s .3s ease-in-out;
}
nav.nav-main.open button::before {
	transform: rotate3d(0, 0, 1, 45deg);
}
nav.nav-main.open button i {
	transition: background-color .1s 0s ease-in-out;
	background-color: transparent;
}
nav.nav-main.open button::after {
	transform: rotate3d(0, 0, 1, -45deg);
}
/* Partial: Profile */
.profile {
	text-align: center;
}
.profile .avatar {
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.profile .author-name {
	margin: 0 auto;	
}
.profile .description {
	text-align: center;
}
/* Partial: Footer */
.footer {
	margin: 5rem auto;
}
.footer ul {
	margin: 0 auto 1.5rem;
	padding: 0;
	list-style: none;
	text-align: center;
}
.footer ul li {
	display: inline-block;
	margin: 0 0.5rem;
	font-size: 0.75rem;
}
.footer form {}
.footer form input.field {
	display: block;
	box-sizing: border-box;
	width: 270px;
	margin: 0 auto;
	border: 2px solid var(--primary);
	border-radius: 1rem;
	padding: 0.5rem 0 0.5rem 0.75rem;
	color: white;
	font-size: 0.75rem;
	font-weight: 400;
	background-color: var(--background-light);
	-webkit-appearance: none;
}
.footer form input.field:focus-visible {
	border-color: white;
	outline: none;
}
/* Posts */
.post-list {}
.post-item {}
.post-date {
	margin-top: 2.5rem;
	font-size: 0.75rem;
	text-transform: uppercase;
}
h2.post-date  {
	margin: 0;
}
.post {
	margin: 5rem 0;
}
.post-body {
	margin: 2.5rem 0;
}
.post-body img {
	padding: 4px;
	border: 2px solid var(--primary);
	border-radius: 1rem;
	box-sizing: border-box;
}
.post-author {
	display: flex;
	gap: 1rem;
	align-items: center;
	border-radius: 1rem;
	padding: 0.75rem;
	background-color: var(--background-light);
}
.post-author .avatar {
	height: 50px;
	width: 50px;
}
.post-author .author-name, 
.post-author .author-username {
	display: block;
	font-size: 0.75rem;
	line-height: 1.25;
}
.post-reply-to {
	margin: 2.5rem 0;
	font-size: 0.75rem;
}
.post-reply-to .avatar {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 0.25rem;
	vertical-align: middle;
}
.post-reply-to-username {}
.nav-pagination {}
/* Plugin: Conversation.js */
.microblog_conversation {
	
}
.microblog_post {
	
}
.microblog_user {
	
}
.microblog_avatar {
	
}
.microblog_fullname {
	
}
.microblog_text {
	
}
.microblog_time {
	
}
/* Page Photos */
.photos-grid-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 5%;
	row-gap: 5%;
}
a.photos-grid-item::after {
	display: none;
}
/* Mobile landscape and Tablet portrait */
@media screen and (min-width:480px) {
	.header, 
	.main, 
	.footer, 
	.container {
		padding: 0 20px;
	}
}
@media screen and (min-width:640px) {
	:root {
		--stroke: 6px;
	}
}
