/* Fonts 
   Nunito; 300, 300 italic, 400, 400 italic, 700
   @import url('https://fonts.bunny.net/css?family=nunito:300,300i,400,400i,700');
 */
/* Variables */
 :root {
	 /* colors */
	 /* primary hue: 210 */
	 --primary: rgb(59,157,255); /* 3b9dff */
	 --primary-white: rgb(249,252,255); /* f9fcff , text/button text */
	 --primary-medium: rgb(1,62,125); /* 013e7d , button background */
	 --primary-dark: rgb(0,43,87); /* 002b57 , background offset */
	 --primary-black: rgb(0,10,20); /* 000a14 , background */
	 --secondary: rgb(224,30,224); /* e01ee0 */
 
	 /* theme */
	 --text: var(--primary-white);
	 --background: var(--primary-black);
	 --text-offset: var(--primary);
	 --bg-offset: var(--primary-dark);
	 --link: var(--primary);
	 --accent: var(--primary);
	 --btn-bg: var(--primary-medium);
	 --btn-text: var(--primary-white);
	 --btn-hover: var(--primary);
	 
	 /* margin, border, padding, gaps */
	 --stroke: calc((100vw - 25px) / 100);
	 --pad-gap: 12.5px;
 }
/* Tags */
html {
	font-size: 125%;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background: var(--background);
	color: var(--text);
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}
a {
	position: relative;
	color: var(--link);
	font-weight: 400;
	text-decoration: none;
	transition: 0.25s;
}
a:hover {
	color: color: var(--text);
	cursor: pointer;
}
a::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: var(--link);
	opacity: 0;
	transform: translate(-50%);
	transition: 0.25s;
}
a:hover::after {
	width: 100%;
	opacity: 1;
}
strong {
	font-weight: 700;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	display: block;
	line-height: 1;
	text-align: center;
}
h1, h2, h3 {
	margin: 1em 0;
	font-weight: 400;
	text-transform: lowercase;
}
h1 {
	margin-top: 0;
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	margin-bottom: 0.75em;
	border-bottom: 0.05em solid var(--accent);
	padding-bottom: 0.2em;
	font-size: 2rem;
}
h4, h5, h6 {
	margin: 1.5rem 0;
	font-weight: 700;
	text-transform: uppercase;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.75rem;
}
p {
	margin: 0 0 2rem;
	line-height: 1.5;
}
ul, 
ol {
	margin: 2rem 0;
	padding-left: 1rem;
}
li {
	clear: both;
	margin: 0.5rem 0;
}
li ul, 
li ol {
	margin: 0;
}
ol li:last-child, 
ul li:last-child {
	margin-bottom: 0;
}
s {
	opacity: 0.67;
}
hr {
	clear: both;
	position: relative;
	max-width: 600px;
	height: var(--stroke);
	margin: 4rem auto;
	border: 0;
	background-color: var(--accent);
	overflow: visible;
}
hr::after {
	content: '';
	display: block;
	position: absolute;
	top: calc(var(--stroke) * 2);
	right: 0;
	width: 37.1667%;
	height: var(--stroke);
	background-color: var(--accent);
}
table {
	width: 100%;
	margin: 1rem 0;
}
thead th, 
tbody th, 
tbody td, 
tfoot td {
	margin: 1px;
	padding: 0.75rem;
	font-size: 0.75rem;
}
thead th {
	border-bottom: 2px solid var(--accent);
}
tbody th {
	text-align: left;
}
tbody td, 
tfoot td {
	background-color: var(--bg-offset);
}
/* Common */
.header,
.main,
.footer, 
.container {
	position: relative;
	max-width: 600px;
	margin: auto;
	padding: 0 var(--pad-gap);
}
a.button, 
button.button, 
.microblog_reply_button input {
	margin-bottom: 0.5em;
	border: none;
	border-radius: 1em;
	padding: 0.25em 0.75em;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	font-size: 0.75em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5em;
}
a.button:hover,
button.button:hover, 
.microblog_reply_button input:hover {
	background-color: var(--btn-hover);
	color: var(--btn-text);
	text-decoration: none;
	cursor: pointer;
}
a.button::after, 
button.button::after, 
.microblog_reply_button input::after {
	display: none;
}
svg.scotymax {
	width: 100%;
	height: auto;
}
svg.scotymax path {
	fill: var(--text);
}
.avatar {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.note {
	border-radius: 1rem;
	padding: 0.75rem;
	background-color: var(--bg-offset);
	color: var(--text-offset);
	font-size: 0.75rem;
	text-align: center;
}
.framed {
	box-sizing: border-box;
	border: 2px solid var(--accent);
	border-radius: 1rem;
	padding: 4px;
}
.framed button, 
.framed iframe, 
.framed img {
	display: block;
	width: 100%;
	margin: 0;
	border-radius: calc(1rem - 6px);
	padding: 0;
}
a.framed:hover {
	border-color: var(--text);
}
a.framed::after {
	display: none;
}
/* Partial: Header */
.header {
	margin-bottom: 2rem;
	padding-top: 4rem;
}
.header-logo {
	position: relative;
	display: block;
}
.header-logo-border {
	position: relative;
	display: block;
	width: 100%;
	height: var(--stroke);
	top: var(--stroke);
	background-color: var(--accent);
}
.header-logo::after {
	content: '';
	position: absolute;
	left: auto;
	right: 0;
	bottom: var(--stroke);
	width: 0;
	height: var(--stroke);
	background-color: var(--accent);
	transform: translate(0);
	transition: 0.25s;
	opacity: 0;
}
.header-logo:hover::after {
	width: 37.1667%;
	opacity: 1;
}
.subhead {
	margin-top: 1rem;
	text-align: right;
	text-transform: lowercase;
}
/* Partial: Navigation */
.nav {}
.nav .nav-wrap {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: var(--bg-offset);
	transition: all 0.2s ease-in-out 0s;
	transform: translateX(-100%);
	z-index: 1;
}
.nav ul.nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 2rem;
	list-style: none;
	text-transform: lowercase;
}
.nav ul.nav-list li {
	margin: 0;
}
.nav .nav-divider {
	display: block;
	width: 40px;
	height: 2px;
	margin: 18px auto 12px;
	background-color: var(--text);
}
.nav .nav-toggle {
	position: fixed;
	bottom: 40px;
	left: 0;
	width: 80px;
	height: 60px;
	border-radius: 0 1rem 1rem 0;
	background-color: var(--btn-bg);
	z-index: 2;
}
.nav .nav-toggle button {
	position: absolute;
	top: 8px;
	left: 18px;
	width: 44px;
	height: 44px;
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0;
	background-color: transparent;
	z-index: 3;
}
.nav .nav-toggle button:hover {
	cursor: pointer;
}
.nav .nav-toggle button i {
	position: relative;
	left: 2px;
	display: block;
	width: 40px;
	height: 4px;
	background-color: var(--primary);
	transition: background-color .2s .2s ease-in-out;
}
.nav .nav-toggle button::before,
.nav .nav-toggle button::after {
	content: '';
	position: absolute;
	height: 4px;
	background-color: var(--primary);
	transform-origin: 50% 50%;
	transition: 
		background-color .1s .1s ease-in-out, 
		top .1s .3s ease-in-out, 
		left .1s .1s ease-in-out, 
		right .1s .1s ease-in-out, 
		width .1s .1s ease-in-out, 
		transform .1s ease-in-out;
}
.nav .nav-toggle button::before {
	top: 10px;
	left: 2px;
	width: 40px;
}
.nav .nav-toggle button::after {
	top: 30px;
	left: 22px;
	width: 20px;
}
.nav.open .nav-wrap {
	transform: translateX(0);
}
.nav.open .nav-toggle button::before,
.nav.open .nav-toggle button::after {
	top: 20px;
	left: 2px;
	width: 40px;
	transition: 
		top .1s ease-in-out, 
		left .1s .1s ease-in-out, 
		right .1s .1s ease-in-out, 
		width .1s .1s ease-in-out, 
		transform .1s .3s ease-in-out;
}
.nav.open .nav-toggle button::before {
	transform: rotate3d(0, 0, 1, 45deg);
}
.nav.open .nav-toggle button i {
	transition: background-color .1s 0s ease-in-out;
	background-color: transparent;
}
.nav.open .nav-toggle button::after {
	transform: rotate3d(0, 0, 1, -45deg);
}
/* Main */
.main {
	margin: 2rem auto 4rem;
}
/* Partial: Profile */
.profile {
	text-align: center;
}
.profile .avatar {
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
/* Partial: Footer */
.footer {
	margin-top: 4rem;
	padding-bottom: 4rem;
}
.footer ul {
	margin: 0 auto 1.5rem;
	padding: 0;
	list-style: none;
	text-align: center;
}
.footer ul li {
	display: inline-block;
	margin: 0 0.5rem;
	font-size: 0.75rem;
}
.footer form {
	display: none;
}
.footer form input.field, 
.microblog_reply_textarea textarea {
	display: block;
	box-sizing: border-box;
	width: 270px;
	margin: 0 auto;
	border: 2px solid var(--accent);
	border-radius: 1rem;
	padding: 0.5rem 0 0.5rem 0.75rem;
	color: white;
	font-size: 0.75rem;
	font-weight: 400;
	background-color: var(--bg-offset);
	-webkit-appearance: none;
}
.footer form input.field:focus-visible, 
.microblog_reply_textarea textarea:focus-visible {
	border-color: white;
	outline: none;
}
/* Footer */
.footer-logo {
	position: relative;
	display: block;
	width: 104px;
	height: 104px;
	margin: auto;
}
.footer-logo::after {
	display: none;
}
.footer-logo img {
	width: 100px;
	height: 100px;
	border: 2px solid transparent;
	border-radius: 50%;
}
.half-clip {
	position: absolute;
	right: 0px;
	display: block;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transform-origin: left center;
}
.footer-logo:hover .half-clip {
	animation: cliprotate 0.25s 1;
	transform: rotate(180deg);
}
@keyframes cliprotate {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	50.0001% {transform: rotate(180deg);}
	100% {transform: rotate(180deg);}
}
.half-circle {
	position: absolute;
	right: 0px;
	display: block;
	box-sizing: border-box;
	height: 100%;
	border: solid 2px transparent;
	border-top-color: var(--accent);
	border-left-color: var(--accent);
	border-radius: 50%;
}
.clipped {
	display: block;
	width: 200%;
	transform: rotate(-45deg);
}
.footer-logo:hover .clipped {
	animation: rotate 0.125s linear 2;
	transform: rotate(135deg);
}
@keyframes rotate {
	0% {transform: rotate(-45deg);}
	100% {transform: rotate(135deg);}
}
.fixed {
	display: block;
	width: 100%;
	transform: rotate(135deg);  
	opacity: 0;
}
.footer-logo:hover .fixed {
	animation: showfixed 0.25s 1;
	opacity: 1;
}
@keyframes showfixed {
	0% {opacity: 0;}
	49.9999% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 1;}
}
/* Posts */
.post-list {}
.post-item {}
.post-date {
	margin-top: 2rem;
	font-size: 0.75rem;
	text-transform: uppercase;
}
h2.post-date  {
	margin: 0;
	text-align: center;
}
.post {}
.post-body {
	margin: 2rem 0 2rem;
}
.post-body img {
	padding: 4px;
	border: 2px solid var(--accent);
	border-radius: 1rem;
	box-sizing: border-box;
}
.post-item .post-date {
	text-align: center;
}
.post-author {
	display: flex;
	gap: 1rem;
	align-items: center;
	border-radius: 1rem;
	padding: 0.75rem;
	background-color: var(--bg-offset);
}
.post-author .avatar {
	height: 50px;
	width: 50px;
}
.post-author .author-name, 
.post-author .author-username {
	display: block;
	font-size: 0.75rem;
	line-height: 1.25;
}
.post-reply-to {
	margin: 2.5rem 0;
	font-size: 0.75rem;
}
.post-reply-to .avatar {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 0.25rem;
	vertical-align: middle;
}
.post-reply-to-username {}
.nav-pagination {}
/* Plugin: Conversation.js */
.microblog_conversation {
	margin: 2.5rem 0;
}
.microblog_post {
	margin-bottom: 1.25rem;
}
.microblog_user {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.microblog_avatar {
	width: 25px;
	max-width: 25px !important;
	height: 25px;
	border-radius: 50%;
}
.microblog_fullname {
	display: inline-block;
}
.microblog_text {
	margin: 0.5rem 0 0.5rem 35px;
}
.microblog_text p {
	margin-bottom: 0;
}
.microblog_time {
	margin-left: 35px;
	border-bottom: 1px solid var(--primary-medium);
	padding-bottom: 1.25rem;
	font-size: 0.75rem;
	text-transform: uppercase;
}
.microblog_reply_form {
	margin-top: 2.5rem;
}
.microblog_reply_signin {
	font-size: 0.75rem;
	text-align: center;
	margin-bottom: 1rem;
}
.microblog_reply_textarea, 
.microblog_reply_button {
	margin-top: 1rem;
	margin-bottom: 0;
}
.microblog_reply_textarea textarea {
	width: 100%;
	padding-right: 0.75rem;
}
.microblog_reply_button input {
	margin-bottom: 0;
}
.microblog_reply_textarea textarea:disabled, 
.microblog_reply_button input:disabled {
	opacity: 0.5;
}
/* Page Photos */
.photos-grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--pad-gap);
}
.photos-grid-item img {
	aspect-ratio: 1;
	object-fit: cover;
}
/* Page Archive */
.archive-categories {
	margin-bottom: 1.5rem;
	border-bottom: 2px solid var(--accent);
	padding-bottom: 0.75rem;
}
/* Mobile landscape and Tablet portrait */
@media screen and (min-width:625px) {
	:root {
		--stroke: 6px;
	}
}
@media screen and (min-width:640px) {
	:root {
		--pad-gap: 20px;
	}
	a {
		white-space: nowrap;
	}
	.post-body img {
		border-radius: 2rem;
	}
	.photos-grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
/* Tablet portrait */
@media screen and (min-width:800px) {
	.nav .nav-toggle {
		top: 80px;
		bottom: auto;
	}
}
/* Tablet landscape and Desktop */
@media screen and (min-width:1280px) {
	.nav .nav-wrap {
		width: 320px;
		border-radius: 0 1rem 1rem 0;
	}
	.nav ul.nav-list {
		font-size: 2rem;
	}
}
/* light theme - by choice */
body.light-theme {
	/* theme */
	--text: var(--primary-black);
	--background: var(--primary-white);
	--text-offset: rgb(0,84,173); /* 0054ad */
	--bg-offset: rgb(214,235,255); /* d6ebff */
	--link: rgb(0,84,173); /* 0054ad */
}
button.toggle-theme {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	border: none;
	background: none;
	color: var(--link);
	line-height: 42px;
	cursor: pointer;
}
button.toggle-theme:hover {
	color: var(--text);
}
button.toggle-theme .bi-moon {
	display: none;
}
button.toggle-theme .bi-brightness-high {
	display: inline-block;
}
body.light-theme button.toggle-theme .bi-moon {
	display: inline-block;
}
body.light-theme button.toggle-theme .bi-brightness-high {
	display: none;
}