<nav class="nav">
	<div class="nav-wrap">
		<ul class="nav-list">
			{{ $curpg := .Page.RelPermalink }}
			{{ if ne .IsHome true }}
				<li><a href="/">Blog</a></li>
			{{ else }}
				<li><span class="current" aria-current="page">Blog</span></li>
			{{ end }}
			{{ range .Site.Menus.main }}
				{{ if .Page.Params.redirect }}
				<li><a href="{{ .Page.Params.redirect }}">{{ .Name }}</a></li>
				{{ else }}
					{{ if ne .URL $curpg }}
						<li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
					{{ else }}
						<li><span class="current" aria-current="page">{{ .Name }}</span></li>
					{{ end }}
				{{ end }}
			{{ end }}
		</ul>
		<div class="nav-divider"></div>
		<ul class="nav-list">
			<li><a href="/website">About</a></li>
		</ul>
	</div>
	<div class="nav-toggle">
		<button aria-label="Toggle Navigation" onclick="toggleNav()"><i></i></button>
	</div>
</nav>