<article class="post-item">
	{{ if .Title }}
	<section>
		<header>
			<h2><a href="{{ .Permalink }}" class="post-name">{{ .Title }}</a></h2>
		</header>
		<div class="post-body">
			{{ .Content }}
		</div>
	</section>
	{{ else }}
	<div class="post-body">
		{{ .Content }}
	</div>
	{{ end }}
	<a href="{{ .Permalink }}" class="post-link">
		<aside class="post-date">
			<time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">→ {{ .Date.Format "3:04 PM, Jan 2" }}</time>
		</aside>
	</a>
</article>
<hr />